* {
  font-family: FiraCode Nerd Font;
  font-size: 18px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 0px transparent;
  border-radius: 0px;
  transition-duration: 0.5s;
  margin: 0px 0px;
}

#workspaces button {
  padding: 5 5px;
  color: #74a3d6;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  /*box-shadow: inset 0 -3px transparent;*/
  /* Avoid rounded borders under each workspace name */
  /* border: none; */
  border-radius: 0;
}

#workspaces button.focused {
  color: #7961bf;
}

#workspaces button.active {
  color: #74cfd6;
}

#workspaces button.urgent {
  background-color: #98fffa;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#custom-weather.default {
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  background-color: #271f30;
  font-size: 18px;
}

#mpris {
  color: #00f2ff;
  margin-right: 3px;
}

#workspaces {
  margin: 0 0px;
  background-color: #271f30;
}

#memory,
#wireplumber,
#backlight,
#cpu,
#network {
  color: #74d3d6;
}

#custom-launcher{
  min-height: 0;
  color: #00f2ff;
  background-color: #271f30;
  border-color: #08008c;
  font-size: 25px;
  padding: 0 13 0 8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#battery,
#battery.charging,
#battery.full,
#battery.plugged {
  color: #00f2ff;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #414dbc;
}
